 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

$primary-color:#292961;
$title-color:#ea3844;


ul{
    list-style-type: none;
    margin-bottom: 0;
   
}
a{
    text-decoration: none;
    color:#fff;
}
i{
    color:#fff;
}


.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
// top bar

section{
    &.top-bar{
        background-color: $primary-color;
        
         .top-bar-info{
             ul{
                .online{
                    background: #1d89e6;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 50px;
                    padding: 8px 15px 8px 15px;
                }
            }
        }
       
    }
    
}